h1 {
font-family: "Exo",sans-serif;
padding-bottom: 5px;
padding-top: 2px;
border-bottom: 1px #f1f1f1;
font-size: 2em;
color: #66ab16;
padding: 5px;
}
h2 {
font-family: "Helvetica Neue","Helvetica","Arial","Lucida Grande",sans-serif;
letter-spacing: -1px;
line-height: 22px;
border-bottom: 1px solid #f1f1f1;
font-size: 22px;
font-weight: bold;
color: #314e64;
margin: 30px 0 15px;
padding-bottom: 5px;
padding: 5px;
}
h3 {
font-size: 18px;
font-weight: bold;
color: #314e00;
padding: 5px;}
p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
padding: 10px;
}
  a { color: #0000FF; text-decoration: none }
  a:visited {color: #0000FF }
  a:hover {color: #E4641C; text-decoration: underline }
  a.weblink {color: #0000FF; text-decoration: underline }
  a.weblink:visited {color: #0000FF}
  a.weblink:hover {color: #E4641C }
  a.popuplink {color: #FF0000; text-decoration: none}
  a.popuplink:visited {color: #FF0000}
  a.popuplink:hover {color: #FF0000; text-decoration: underline}
  a.filelink {color: #04BC14; text-decoration: none}
  a.filelink:visited {color: #04BC14}
  a.filelink:hover {color: #04BC14; text-decoration: underline}
  a.inline-toggle {color: Green; text-decoration: none;  font-weight: bold;  font-family: "Times New Roman", serif;     }
  a.inline-toggle:visited {color: Green; }
  a.inline-toggle:hover {text-decoration: underline}
  .fsmall {
        font-size: 10px;
	font-family: Verdana, Helvetica, sans-serif;
	text-align: center;
	margin: 10px 0px 0px 0px;
	}
  .crumbs {font-size: 8pt; margin-bottom: 3px; margin-top: 0px; color: #FFFFFF}
  .crumbs a {text-decoration: underline; color: #FFFFFF}
  .crumbs a:visited {text-decoration: underline; color: #FFFFFF}
  .crumbs a:hover {color: #F4BC5C}
 
@media screen{
  #idcontent {    
      width: 100%; 
      padding: 0px !important; 
      padding: 10px 15px 5px 10px; 
      position: relative; 
   } 
  #innerdiv {    
      padding: 10px 5px 5px 10px !important;  
      padding: 0px; 
   } 
   
    .topichead {
       padding: 5px;
    }
    
    .navlinks {
      font-size: 10pt;
    }
    .navlinks a {
      text-decoration: none;
      color: blue;
    }
    .navlinks a:visited {
      text-decoration: none;
      color: blue;
    }
    .navlinks a:hover {
      text-decoration: underline;
      color: blue;
    }
    
   html.nonscroll { 
      overflow:hidden; 
   } 
   body.nonscroll {    
      overflow:hidden; 
      height:100%; 
   } 
   div.nonscroll { 
      overflow-x:auto;
      overflow-y:scroll; 
   } 
}

table {
    border-collapse: collapse;
    margin: 0 0.2em 0 0.2em;
    color: #00498A;
}

table td, table th {
    padding: 0.7em 0.0em 0.0em 0.0em;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    //border-bottom: 1px solid #aaa;
    //border-bottom-style: ridge;	
}

table pre, table code {
    color: #00498A;
}








