/* Text Styles */
hr { color: #000000}
body, table, tr, th /* Normal */
{
 font-size: 100%;
 font-family: 'Segoe UI',Tahoma,Verdana,Arial,sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
table, tr, th
{
 font-size: 100%;
}
span.f_BodyText /* Body Text */
{
}
span.f_BodyTextHowTo /* Body Text HowTo */
{
}
span.f_Callouts /* Callouts */
{
 font-size: 0.91rem;
 font-family: Verdana,Geneva,Arial,sans-serif;
 letter-spacing: -0.0625rem;
}
span.f_CalloutsBulleted /* Callouts Bulleted */
{
 font-size: 0.91rem;
 font-family: Verdana,Geneva,Arial,sans-serif;
 letter-spacing: -0.0625rem;
}
span.f_CalloutsHeader /* Callouts Header */
{
 font-family: 'Segoe UI Semibold',Tahoma,Verdana,Arial,sans-serif;
 font-weight: bold;
}
span.f_CodeExample /* Code Example */
{
 font-size: 0.91rem;
 font-family: 'Courier New';
}
span.f_Comment /* Comment */
{
}
span.f_Heading3HowTo /* Heading 3 HowTo */
{
 font-size: 1.09rem;
 font-family: 'Segoe UI Semibold',Tahoma,Verdana,Arial,sans-serif;
 color: #000080;
}
span.f_HeadingHowToToggle_atoc_ /* Heading HowTo Toggle_atoc_ */
{
 font-size: 1.18rem;
 font-family: Verdana,Geneva,Arial,sans-serif;
 letter-spacing: -0.0625rem;
}
span.f_HeadingHowTo_atoc_ /* Heading HowTo_atoc_ */
{
 font-size: 1.18rem;
 font-family: Verdana,Geneva,Arial,sans-serif;
 letter-spacing: -0.0625rem;
}
span.f_HeadingToggleLarger_atocs_ /* Heading Toggle Larger_atocs_ */
{
 font-family: Verdana,Geneva,Arial,sans-serif;
 font-weight: bold;
}
span.f_HeadingToggle_atocs_ /* Heading Toggle_atocs_ */
{
 font-size: 0.91rem;
 font-family: Verdana,Geneva,Arial,sans-serif;
 font-weight: bold;
}
span.f_Heading1 /* Heading1 */
{
 font-size: 1.58rem;
 font-weight: bold;
}
span.f_Heading2Toggle_atoc_ /* Heading2 Toggle_atoc_ */
{
 font-size: 1.27rem;
 font-family: 'Segoe UI Semibold',Tahoma,Verdana,Arial,sans-serif;
 color: #000080;
}
span.f_Heading2_atoc_ /* Heading2_atoc_ */
{
 font-size: 1.27rem;
 font-family: 'Segoe UI Semibold',Tahoma,Verdana,Arial,sans-serif;
 color: #000080;
}
span.f_Heading3 /* Heading3 */
{
 font-size: 1.09rem;
 font-family: 'Segoe UI Semibold',Tahoma,Verdana,Arial,sans-serif;
 color: #000080;
}
span.f_Heading3Underline_atocs_ /* Heading3 Underline_atocs_ */
{
 font-size: 1.09rem;
 font-family: 'Segoe UI Semibold',Tahoma,Verdana,Arial,sans-serif;
 color: #000080;
}
span.f_Heading3_atoc_ /* Heading3_atoc_ */
{
 font-size: 1.09rem;
 font-family: 'Segoe UI Semibold',Tahoma,Verdana,Arial,sans-serif;
 color: #000080;
}
span.f_Heading3_atocs_ /* Heading3_atocs_ */
{
 font-size: 1.09rem;
 font-family: 'Segoe UI Semibold',Tahoma,Verdana,Arial,sans-serif;
 color: #000080;
}
span.f_HowToBulleted /* HowTo Bulleted */
{
}
span.f_HowToNumbered /* HowTo Numbered */
{
}
span.f_ImageCaption /* Image Caption */
{
 font-style: italic;
}
span.f_InThisTopicHeading /* InThisTopic Heading */
{
 font-size: 0.91rem;
 font-weight: bold;
 color: #ffffff;
 letter-spacing: -0.0625rem;
 text-transform: uppercase;
}
span.f_InThisTopicLinkList /* InThisTopic LinkList */
{
 letter-spacing: -0.0625rem;
}
span.f_Note /* Note */
{
}
span.f_Notes /* Notes */
{
}
span.f_NotesBox /* NotesBox */
{
}
span.f_PopupBox /* Popup Box */
{
 font-size: 0.82rem;
}
span.f_SeeAlso /* SeeAlso */
{
 font-size: 1.09rem;
 font-family: 'Segoe UI Semibold',Tahoma,Verdana,Arial,sans-serif;
}
span.f_T_Code /* T_Code */
{
 font-family: 'Courier New';
 letter-spacing: -0.0625rem;
}
span.f_T_Emphasis /* T_Emphasis */
{
 font-size: 0.91rem;
 font-weight: bold;
}
span.f_T_Entry /* T_Entry */
{
 font-family: 'Courier New';
 font-weight: bold;
 letter-spacing: -0.0625rem;
}
span.f_T_Entry10pt /* T_Entry 10pt */
{
 font-size: 0.91rem;
 font-family: 'Courier New';
 font-style: italic;
 font-weight: bold;
 letter-spacing: -0.0625rem;
}
span.f_T_Menu /* T_Menu */
{
 font-family: 'Segoe UI Semibold',Tahoma,Verdana,Arial,sans-serif;
}
span.f_T_Menu10p /* T_Menu 10p */
{
 font-family: 'Segoe UI Semibold',Tahoma,Verdana,Arial,sans-serif;
}
span.f_T_ToggleLink /* T_ToggleLink */
{
 font-size: 0.91rem;
 font-family: Tahoma,Geneva,Verdana,sans-serif;
 font-weight: bold;
}
span.f_T_ToggleLinkLarge /* T_ToggleLinkLarge */
{
 font-family: Tahoma,Geneva,Verdana,sans-serif;
 font-weight: bold;
}
span.f_T_Toggletext /* T_Toggletext */
{
 font-size: 0.91rem;
 font-family: 'Times New Roman',Times,Georgia,serif;
 font-style: italic;
 background-color: #ffffbb;
}
span.f_TipBody /* Tip Body */
{
 font-family: Verdana,Geneva,Arial,sans-serif;
 letter-spacing: -0.0625rem;
}
span.f_TipHeading /* Tip Heading */
{
 font-family: Tahoma,Geneva,Verdana,sans-serif;
 font-weight: bold;
}
/* Paragraph styles */
p /* Normal */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.p_BodyText /* Body Text */
{
 font-size: 1.00rem;
 margin: 0px 0px 0.6250rem 0px;
}
.p_BodyTextHowTo /* Body Text HowTo */
{
 font-size: 1.00rem;
 margin: 0px 0px 0.6250rem 1.5000rem;
}
.p_Callouts /* Callouts */
{
 font-size: 0.91rem;
 margin: 0px 0px 0.3125rem 0px;
}
.p_CalloutsBulleted /* Callouts Bulleted */
{
 font-size: 0.91rem;
 text-indent: -1.6875rem;
 margin: 0px 1.5000rem 0.6250rem 3.1875rem;
}
.p_CalloutsHeader /* Callouts Header */
{
 font-size: 1.00rem;
 margin: 0px 0px 0.1875rem 0px;
}
.p_CodeExample /* Code Example */
{
 font-size: 0.91rem;
 white-space: nowrap;
}
.p_Comment /* Comment */
{
 font-size: 1.00rem;
 text-align: center;
}
.p_Heading3HowTo /* Heading 3 HowTo */
{
 font-size: 1.09rem;
 page-break-after: avoid;
 margin: 0.3125rem 0px 0.3125rem 1.5000rem;
}
.p_HeadingHowToToggle_atoc_ /* Heading HowTo Toggle_atoc_ */
{
 font-size: 1.18rem;
 text-indent: -1.2500rem;
 page-break-after: avoid;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: thin;
 background: #f0f0f0;
 padding: 0.1875rem 0.1875rem 0.1875rem 0.1875rem;
 margin: 1.0625rem 0px 0.7500rem 1.0625rem;
}
.p_HeadingHowTo_atoc_ /* Heading HowTo_atoc_ */
{
 font-size: 1.18rem;
 page-break-after: avoid;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: thin;
 background: #f0f0f0;
 padding: 0.1875rem 0.1875rem 0.1875rem 0.1875rem;
 margin: 1.0625rem 0px 0.7500rem 0px;
}
.p_HeadingToggleLarger_atocs_ /* Heading Toggle Larger_atocs_ */
{
 font-size: 1.00rem;
 text-indent: -1.1875rem;
 margin: 0px 0px 0.6250rem 2.6875rem;
}
.p_HeadingToggle_atocs_ /* Heading Toggle_atocs_ */
{
 font-size: 0.91rem;
 text-indent: -1.1875rem;
 margin: 0px 0px 0.6250rem 2.6875rem;
}
.p_Heading1 /* Heading1 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.p_Heading2Toggle_atoc_ /* Heading2 Toggle_atoc_ */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: -1.2500rem;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 0.9375rem 0px 0.6250rem 1.2500rem;
}
.p_Heading2_atoc_ /* Heading2_atoc_ */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: thin;
 border-top: none;
 border-right: none;
 border-left: none;
 padding: 0.0625rem 0.0625rem 0.0625rem 0.0625rem;
 margin: 0.8750rem 0px 0.5625rem 0px;
}
.p_Heading3 /* Heading3 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 0.3125rem 0px 0.3125rem 1.5000rem;
}
.p_Heading3Underline_atocs_ /* Heading3 Underline_atocs_ */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: thin;
 border-top: none;
 border-right: none;
 border-left: none;
 padding: 0.0625rem 0.0625rem 0.0625rem 0.0625rem;
 margin: 0.2500rem 0px 0.2500rem 0px;
}
.p_Heading3_atoc_ /* Heading3_atoc_ */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 0.3125rem 0px 0.3125rem 1.5000rem;
}
.p_Heading3_atocs_ /* Heading3_atocs_ */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 0.3125rem 0px 0.3125rem 0px;
}
.p_HowToBulleted /* HowTo Bulleted */
{
 font-size: 1.00rem;
 text-indent: -0.9375rem;
 margin: 0px 0px 0.6250rem 2.4375rem;
}
.p_HowToNumbered /* HowTo Numbered */
{
 font-size: 1.00rem;
 text-indent: -1.3750rem;
 margin: 0px 0px 0.6250rem 3.0000rem;
}
.p_ImageCaption /* Image Caption */
{
 font-size: 1.00rem;
}
.p_InThisTopicHeading /* InThisTopic Heading */
{
 font-size: 0.91rem;
 text-align: center;
 white-space: nowrap;
 page-break-after: avoid;
}
.p_InThisTopicLinkList /* InThisTopic LinkList */
{
 font-size: 1.00rem;
 white-space: nowrap;
 margin: 0px 0px 0.0625rem 0px;
}
.p_Note /* Note */
{
 font-size: 1.00rem;
 text-indent: -3.6875rem;
 margin: 0px 0px 0.6250rem 5.1875rem;
}
.p_Notes /* Notes */
{
 font-size: 1.00rem;
}
.p_NotesBox /* NotesBox */
{
 font-size: 1.00rem;
 margin: 0.6250rem 0px 0px 0px;
}
.p_PopupBox /* Popup Box */
{
 font-size: 0.82rem;
}
.p_SeeAlso /* SeeAlso */
{
 font-size: 1.09rem;
 page-break-after: avoid;
 margin: 0.6250rem 0px 0px 0px;
}
.p_T_Toggletext /* T_Toggletext */
{
 font-size: 0.91rem;
 background: #ffffbb;
}
.p_TipBody /* Tip Body */
{
 font-size: 1.00rem;
}
.p_TipHeading /* Tip Heading */
{
 font-size: 1.00rem;
}


#hmpopupdiv /* used for javascript text popups */
{
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: #FFFFD7;
  padding: 3px;
  border:2px solid #464646;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
}

#hmlightbox /* image lightbox */
{
  border: none;
  padding: 8px;
  background: #FFF;
  font-size: 110%;
  font-weight: bold;
  color: #777;
  box-shadow: 5px 5px 5px #888;
}

a.dropdown-toggle /* dropdown toggle caption */
{
  cursor: pointer;
}
a.inline-toggle /* inline toggle caption */
{
  cursor: pointer;
}
img.dropdown-toggle-icon /* toggle icon */
{
  cursor: pointer;
}
/* CSS for responsive image maps */

.hmImageMap a.hmHotspotRect { display:block; position:absolute; border: 1px solid transparent; background:#000; opacity:0.01; filter:alpha(opacity=1)  }
.hmImageMap a.hmHotspotEllipse { display:block; position:absolute; border-radius:50%; border: 1px solid transparent; background:#000; opacity:0.01; filter:alpha(opacity=1) }
.hmImageMap:hover a.hmHotspotRect {opacity:0.3; filter:alpha(opacity=30); }
.hmImageMap:hover a.hmHotspotEllipse { opacity:0.3; filter:alpha(opacity=30); }
a.hmHotspotRect:hover { border:1px solid #000; background:#FFF; opacity:0.3; filter:alpha(opacity=30) }
a.hmHotspotEllipse:hover { border:1px solid #000; background:#FFF; opacity:0.3; filter:alpha(opacity=30) }